html {
	font-family: monospace;
	text-align: center;
	font-size : 130%;
}	

#maincontainer {
	/*: table;display*/
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}

#maincontainer2 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
}

main {
	/*margin-top : 20em;*/
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;

}

aside {
	float:left;
	width:35%;
	position:relative;
	left:64%;
	overflow:hidden;

}

.presentation {
	padding: 2% 2% 2% 2%;
}

#UDGLogo {
	transition: transform .8s ease-out;
}
#UDGLogo:hover {
	transform: rotate(360deg);
}

header {
	width: 40%;
	margin: auto;
	padding-bottom: 50px;
}

h1 {
	width: 40%;
	margin: auto;
	padding: 1% 1% 1% 1%;
	font-weight: bold;
}
