html {
	font-family: monospace;
	text-align: center;
	font-size : 130%;
}

main {
	margin-top : 20em;
}

.social {
	font-weight: bold;
	border-radius: 7px;
	border: solid 2px;
	width: 40%;
	margin: auto;
	padding: 1% 1% 1% 1%;
}

.presentation {
	padding: 2% 2% 2% 2%;
}

#UDGLogo {
	transition: transform .8s ease-out;
}
#UDGLogo:hover {
	transform: rotate(360deg);
}

#entete {
	width: 40%;
	margin: auto;
}

#titre {
	width: 40%;
	margin: auto;
	padding: 1% 1% 1% 1%;
}
