html {
	font-family: monospace;
	text-align: center;
	font-size : 130%;
}

main {
	margin-top : 20em;
}

.social {
	font-weight: bold;
	border-radius: 7px;
	border: solid;
}

.presentation {
	padding: 2% 2% 2% 2%;
}

